body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0b0b0b, #7a0000);
  color: white;
}

.hidden { display: none; }

.container { max-width: 1600px; margin: auto; padding: 20px; }

.card {
  background: #111;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px black;
}

h1, h2, h3 { text-align: center; color: #ff4d4d; }

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #b30000;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover { background: #ff0000; }

.dashboard { display: grid; grid-template-columns: 300px 1fr; gap: 20px; }
@media(max-width:900px){ .dashboard{ grid-template-columns: 1fr; } }

.student-btn { background: #222; text-align: left; margin-bottom: 6px; }
.student-btn:hover { background: #333; }

.table-wrap { overflow-x: auto; margin-bottom: 20px; }
table { width: 100%; border-collapse: collapse; min-width: 800px; }
th, td { border: 1px solid #444; padding: 8px; text-align: center; }
th { background: #660000; }

.section-title { color: #ffaaaa; font-size: 20px; margin: 10px 0; }
.pass { color: #00ff66; font-weight: bold; }
.fail { color: #ff4444; font-weight: bold; }
.save-btn { background: #007700; }
.save-btn:hover { background: #00aa00; }
.switch { text-align: center; cursor: pointer; color: #ff7777; }